.profile-div {
  margin: auto;
  position: fixed;
  text-align: center;
  right: 10px;
  left: 10px;
  max-width: 600px;
  border-radius: 10px;
  min-width: 250px;
}
.card-div {
  padding: 20px;
  padding-top: 20px;
}
hr {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.settings{
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
  height: fit-content;
}
