.App {
  margin: auto;
}

.align-text-center{
  text-align: center;
  margin: auto;
}

.logout-button{
  margin: auto;
}
.position-absolute{
  position: absolute;
}


.App-link {
  color: #09d3ac;
}

