div.MuiBox-root {
  background-color: transparent;
  padding: 0;
}
/* div.makeStyles-root-173 {
  background-color: rgba(22, 31, 41);
} */


.formStyle {
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

.logout-button {
  margin: auto;
}



label{
  color: white;
  COLOR:#202a35
}

.MuiTab-textColorPrimary{
  color: white;
}