.App {
  margin: auto;
}
div.MuiBox-root{
  background-color: transparent;
  padding: 0;
}
div.makeStyles-root-173{
  background-color: transparent;

}
html {
  background-color: rgb(201, 201, 201);
}

.align-text-center {
  text-align: center;
  margin: auto;
}

.logout-button {
  margin: auto;
}

.form-width {
  margin: auto;
  max-width: 490px;
  padding: 10px;
}
